fastapi==0.75.0
uvicorn
aiofiles>=0.8.0
python-multipart==0.0.5
httpx>=0.22.0
pydantic==1.10.13

aiohttp[speedups]
google-cloud-pubsub
tenacity

# DB stuff
mysqlclient==2.1.0
sqlmodel>=0.0.8
sqlalchemy>=1.4.35

# AI stuff
tiktoken
llama-index==0.9.5
openai~=1.11.1
openai[embeddings]
aiohttp[speedups]
